.grid{
    width: 400px;
    height: 600px;
    background-color: yellow;
    position: relative;
    font-size: 100px;
    text-align: center;
    background-image: url('background.png');
}

.doodler {
    width: 87px;
    height: 85px;
    position: absolute; /*Absolute position is to make sure that doodler is inside the grid*/
    background-image: url('doodler-guy.png');
}

.platform{
    width: 85px;
    height: 15px;
    background-color: green;
    position: absolute; /*Absolute position is to make sure that platform is inside the grid*/
    background-image: url('platform.png');
}